# Basic rc.conf.local(8) setup
$HOME/gits/sugard-openbsd/bin/*setup-rc.conf.local  bin/
$HOME/gits/sugard-openbsd/rc.conf.local.base

# Basic motd(5) setup
$HOME/gits/sugard-openbsd/bin/*setup-motd           bin/

# Basic pf(8) setup
$HOME/gits/sugard-openbsd/bin/*setup-pf             bin/
$HOME/gits/sugard-openbsd/pf.conf.base
$HOME/gits/sugard-openbsd/pf.tests

# Basic sshd(8) setup
$HOME/gits/sugard-openbsd/bin/*setup-sshd           bin/
$HOME/gits/sugard-openbsd/sshd_config.base

# Basic relayd(8) setup
$HOME/gits/sugard-openbsd/bin/*setup-relayd          bin/
$HOME/gits/sugard-openbsd/relayd.conf.base

# Basic httpd(8) setup
$HOME/gits/sugard-openbsd/bin/*setup-httpd          bin/
$HOME/gits/sugard-openbsd/httpd/*                   httpd/
$HOME/gits/sugard-openbsd/httpd.conf.base

# Basic acme-client(1) setup
$HOME/gits/sugard-openbsd/bin/*setup-acme-client    bin/
$HOME/gits/sugard-openbsd/acme-client.conf.base

# Basic cron(8) setup
$HOME/gits/sugard-openbsd/bin/*setup-cron           bin/
$HOME/gits/sugard-openbsd/crontabs/root             crontabs/
$HOME/gits/sugard-openbsd/bin/renew-certs           bin/

# git(1) setup
$HOME/gits/sugard-openbsd/bin/*setup-git            bin/

# Base configuration
$HOME/gits/sugard-openbsd/config                    bin/config.base

# Required by sugard-openbsd/bin/*'s scripts.
$HOME/gits/sugar/sugar.lib                          bin/

# Required by sugard-openbsd/bin/*'s scripts.
$HOME/gits/sugard-openbsd/sugar.lib.OpenBSD         bin/
